age.agekey
^forgetool.exe
^forgetool*
^forgetool
*forgetool.exe
forgetool.exe
forgetool
sopssecret.yaml
sopssecret*
*sopssecret*
mounts/
private.key
*.log
clusters/main/kubernetes/media/qbittorrent/app/helm-releas-alfi.yaml
clusters/main/kubernetes/media/qbittorrent/app/helm-release-xstar97.yaml
