---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: lldap
  namespace: lldap
spec:
  interval: 15m
  chart:
    spec:
      chart: lldap
      version: 8.14.0
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
      interval: 15m
  timeout: 20m
  maxHistory: 3
  driftDetection:
    mode: warn
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    TZ: Europe/Amsterdam

    global:
      stopAll: false

    workload:
      main:
        podSpec:
          containers:
            main:
              env:
                LLDAP_HTTP_URL: https://lldap.${DOMAIN_0}
                LLDAP_LDAP_BASE_DN: dc=${DN},dc=${DC}
                LLDAP_LDAP_USER_DN: admin
                LLDAP_LDAP_USER_EMAIL: admin@${DOMAIN}
                LLDAP_LDAP_USER_PASS: ${LLDAP_PASSWORD}
                LLDAP_SMTP_OPTIONS__ENABLE_PASSWORD_RESET: true
                LLDAP_SMTP_OPTIONS__FROM: LLDAP Admin <no-reply@${DOMAIN}>
                LLDAP_SMTP_OPTIONS__PASSWORD: ${SMTP_PASSWORD}
                LLDAP_SMTP_OPTIONS__PORT: 587
                LLDAP_SMTP_OPTIONS__REPLY_TO: Do not reply "<no-reply@${DOMAIN}>"
                LLDAP_SMTP_OPTIONS__SERVER: ${SMTP_HOST}
                LLDAP_SMTP_OPTIONS__SMTP_ENCRYPTION: TLS
                LLDAP_SMTP_OPTIONS__USER: ${SMTP_USER}
                LLDAP_key_file: /data/private_key

    credentials:
      minio:
        type: s3
        url: "${S3_URL}"
        bucket: "taloscluster"
        accessKey: "${S3_ACCESKEY}"
        secretKey: "${S3_SECRETKEY}"
        encrKey: "${S3_ENC}"

    ingress:
      main:
        enabled: true
        ingressClassName: internal
        hosts:
          - host: lldap.${DOMAIN_0}
        integrations:
          certManager:
            enabled: true
            certificateIssuer: domain-0-le-prod
          homepage:
            enabled: true
            group: "Test"
            weight: 10
            widget:
              custom:
                key: "https://lldap.${DOMAIN_0}"

    persistence:
      data:
        volsync:
          - name: data
            type: restic
            credentials: minio
            dest: #VolSync Destination (Restore)
              enabled: true
            src: #VolSync Source (Backup)
              enabled: true

    cnpg:
      main:
        cluster:
          singleNode: true
        #mode: recovery   # Set to 'recovery' when recovery from S3, also change the revisions
        backups:
          enabled: true
          credentials: minio
          retentionPolicy: "14d"
          revision: "1"
        recovery:
          credentials: minio
          # revision: "1"

    resources:
      requests:
        cpu: 10m