---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: cloudflareddns
  namespace: cloudflareddns
spec:
  interval: 15m
  chart:
    spec:
      chart: cloudflareddns
      version: 13.1.4
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
      interval: 15m
  timeout: 20m
  maxHistory: 3
  driftDetection:
    mode: warn
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    TZ: Europe/Amsterdam

    workload:
      main:
        podSpec:
          containers:
            main:
              env:
                INTERVAL: 3600
                UPDATE_IPV6: false
                CF_APITOKEN: ${DOMAIN_0_CLOUDFLARE_TOKEN}
                CF_HOSTS: "flux-webhook.${DOMAIN_0},auth.${DOMAIN_0},makoto-cloud.${DOMAIN_0},request.${DOMAIN_0}"