apiVersion: v1
kind: ConfigMap
metadata:
  name: authelia-configfile
  namespace: authelia
data:
  configuration.yaml: |
    session:
      inactivity: 30m
      cookies:
        - domain: ${DOMAIN_0}
          authelia_url: https://auth.${DOMAIN_0}
    authentication_backend:
      # lldap setup
      # https://github.com/lldap/lldap/blob/main/example_configs/authelia_config.yml
      ldap:
        implementation: lldap
        address: ldap://lldap-ldap.lldap.svc.cluster.local:3890
        base_dn: dc=${DN},dc=${DC}
        user: uid=authuser,ou=people,dc=${DN},dc=${DC}
        password: ${AUTHELIA_PASSWORD}
    notifier:
      smtp:
        address: smtp://${SMTP_HOST}:587
        username: ${SMTP_USER}
        password: ${SMTP_PASSWORD}
        sender: Authelia Admin <no-reply@${DOMAIN_0}>
        tls:
          server_name: ${SMTP_HOST}
    password_policy:
      standard:
        enabled: true
        min_length: 10
        max_length: 0
        require_uppercase: true
        require_lowercase: true
        require_number: true
        require_special: true
    access_control:
      default_policy: 'deny'
      rules:
        - domain:
            - "home.${DOMAIN_0}"
            - "speed.${DOMAIN_0}"
          policy: one_factor
          subject: "group:riptide_all"
    identity_providers:
      oidc:
        hmac_secret: {{ secret "/config/secret/hmac_secret" }}
        jwks:
          - key: |
              {{ secret "/config/secret/jwks_key.pem" | mindent 10 "|" | msquote }}
        authorization_policies:
          apps:
            default_policy: 'deny'
            rules:
              - policy: 'one_factor'
                subject: 'group:apps'
        clients:
          - client_id: 'guacamole'
            client_name: 'Apache Guacamole'
            public: true
            authorization_policy: 'apps'
            consent_mode: 'implicit'
            require_pkce: false
            pkce_challenge_method: ''
            redirect_uris:
              - 'https://guacamole.${DOMAIN_0}'
            scopes:
              - 'openid'
              - 'profile'
              - 'groups'
              - 'email'
            response_types:
              - 'id_token'
            grant_types:
              - 'implicit'
            access_token_signed_response_alg: 'none'
            userinfo_signed_response_alg: 'none'
            token_endpoint_auth_method: 'none'
          - client_id: 'grafana'
            client_name: 'Grafana'
            client_secret: {{ secret "/config/secret/clients_grafana_client_secret" }}
            public: false
            authorization_policy: 'apps'
            require_pkce: true
            pkce_challenge_method: 'S256'
            redirect_uris:
              - 'https://grafana.${DOMAIN_0}/login/generic_oauth'
            scopes:
              - 'openid'
              - 'profile'
              - 'groups'
              - 'email'
            response_types:
              - 'code'
            grant_types:
              - 'authorization_code'
            access_token_signed_response_alg: 'none'
            userinfo_signed_response_alg: 'none'
            token_endpoint_auth_method: 'client_secret_basic'