---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: authelia
  namespace: authelia
spec:
  interval: 5m
  chart:
    spec:
      chart: authelia
      version: 29.29.2
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
      interval: 5m
  timeout: 20m
  maxHistory: 3
  driftDetection:
    mode: warn
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    TZ: Europe/Amsterdam

    global:
      stopAll: false

    credentials:
      minio:
        type: s3
        url: "${S3_URL}"
        bucket: "taloscluster"
        accessKey: "${S3_ACCESKEY}"
        secretKey: "${S3_SECRETKEY}"
        encrKey: "${S3_ENC}"

    ingress:
      main:
        enabled: true
        ingressClassName: external
        hosts:
          - host: auth.${DOMAIN_0}
        integrations:
          certManager:
            enabled: true
            certificateIssuer: domain-0-le-prod

    persistence:
      config:
        volsync:
          - name: config
            type: restic
            credentials: minio
            dest: #VolSync Destination (Restore)
              enabled: true
            src: #VolSync Source (Backup)
              enabled: true
      configfile:
        enabled: true
        type: configmap
        objectName: authelia-configfile  
        expandObjectName: false
        mountPath: /configuration.yaml
        subPath: configuration.yaml
        readOnly: true
      secrets:
        enabled: true
        type: secret
        objectName: authelia-oidc-secret
        expandObjectName: false
        mountPath: /config/secret
        readOnly: true
    
    secret:
      authelia-configfile:
        enabled: false

    cnpg:
      main:
        cluster:
          singleNode: true
        #mode: recovery   # Set to 'recovery' when recovery from S3, also change the revisions
        backups:
          enabled: true
          credentials: minio
          retentionPolicy: "14d"
          revision: "1"
        recovery:
          credentials: minio
          # revision: ""

    workload:
      main:
        replicas: 1
        podSpec:
          containers:
            main:
              env:
                AUTHELIA_SESSION_SECRET: ${AUTHELIA_SESSION_KEY}
                AUTHELIA_IDENTITY_VALIDATION_RESET_PASSWORD_JWT_SECRET: ${AUTHELIA_JWT_KEY}
                AUTHELIA_STORAGE_ENCRYPTION_KEY: ${AUTHELIA_ENCRYPTION_KEY}
                X_AUTHELIA_CONFIG_FILTERS: template

    resources:
      requests:
        cpu: 10m